<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>wuliu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>	
  <servlet>
  	<servlet-name>SwitchServlet</servlet-name>
  	<servlet-class>wuliu.servlet.SwitchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SwitchServlet</servlet-name>
  	<url-pattern>/switch</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryStoreServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QueryStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryStoreServlet</servlet-name>
  	<url-pattern>/jd/querystore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGoodsServlet</servlet-name>
    <servlet-class>wuliu.servlet.GetGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodsServlet</servlet-name>
    <url-pattern>/jd/getgoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsServlet</servlet-name>
    <url-pattern>/dd/getgoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsServlet</servlet-name>
    <url-pattern>/kc/getgoods</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddDispatchServlet</servlet-name>
  	<servlet-class>wuliu.servlet.AddDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddDispatchServlet</servlet-name>
  	<url-pattern>/jd/adddispatch</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetToolsServlet</servlet-name>
  	<servlet-class>wuliu.servlet.GetToolsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetToolsServlet</servlet-name>
  	<url-pattern>/jd/gettools</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetToolsServlet</servlet-name>
  	<url-pattern>/dd/gettools</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetToolsServlet</servlet-name>
  	<url-pattern>/tra/gettools</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryDispatchServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QueryDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryDispatchServlet</servlet-name>
  	<url-pattern>/jd/querydispatch</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ModifyDispatchServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ModifyDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ModifyDispatchServlet</servlet-name>
  	<url-pattern>/jd/modifydispatch</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExamineServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExamineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamineServlet</servlet-name>
  	<url-pattern>/jd/examinedispatch</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CancelDispatchServlet</servlet-name>
  	<servlet-class>wuliu.servlet.CancelDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CancelDispatchServlet</servlet-name>
  	<url-pattern>/jd/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryStoreServlet2</servlet-name>
  	<servlet-class>wuliu.servlet.QueryStoreServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryStoreServlet2</servlet-name>
  	<url-pattern>/kc/querystore2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryYlServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QueryYlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetToolsServlet2</servlet-name>
    <servlet-class>wuliu.servlet.GetToolsServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryYlServlet</servlet-name>
  	<url-pattern>/kc/queryyl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetToolsServlet2</servlet-name>
    <url-pattern>/dd/gettools2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetToolsServlet2</servlet-name>
    <url-pattern>/tra/gettools2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryOutStoreRequest</servlet-name>
  	<servlet-class>wuliu.servlet.QueryOutStoreRequest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryOutStoreRequest</servlet-name>
  	<url-pattern>/kc/queryoutstorerequest</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExitServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/dd/exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/kh/exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/jd/exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/kc/exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/tra/exit</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>QueryTransferRequestServlet</servlet-name>
	<servlet-class>wuliu.servlet.QueryTransferRequestServlet</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryTransferRequestServlet</servlet-name>
  	<url-pattern>/kc/querytra</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExamineOutStoreServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExamineOutStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamineOutStoreServlet</servlet-name>
  	<url-pattern>/kc/examineoss</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExamineTransferRequest</servlet-name>
  	<servlet-class>wuliu.servlet.ExamineTransferRequest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamineTransferRequest</servlet-name>
  	<url-pattern>/kc/examinetra</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DdServlet</servlet-name>
  	<servlet-class>wuliu.servlet.DdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DdServlet</servlet-name>
  	<url-pattern>/kc/ddserv</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CancelDdServlet</servlet-name>
  	<servlet-class>wuliu.servlet.CancelDdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CancelDdServlet</servlet-name>
  	<url-pattern>/kc/canceldd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DdCuKuPageServlet</servlet-name>
  	<servlet-class>wuliu.servlet.DdCuKuPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DdCuKuPageServlet</servlet-name>
  	<url-pattern>/dd/ddcukupage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryInStoreServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QueryInStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryInStoreServlet</servlet-name>
  	<url-pattern>/kc/queryinstore</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryOutStoreTaskServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QueryOutStoreTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryOutStoreTaskServlet</servlet-name>
  	<url-pattern>/kc/querycuku</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryStoreServlet3</servlet-name>
  	<servlet-class>wuliu.servlet.QueryStoreServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryStoreServlet3</servlet-name>
  	<url-pattern>/kc/querystore3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryInStoreTaskServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QueryInStoreTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryInStoreTaskServlet</servlet-name>
  	<url-pattern>/kc/queryinstoretask</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExamineInStoreServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExamineInStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamineInStoreServlet</servlet-name>
  	<url-pattern>/kc/examineinstore</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExamineOutStoreTaskServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExamineOutStoreTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamineOutStoreTaskServlet</servlet-name>
  	<url-pattern>/kc/examineoutstoretask</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExecuteOutStoreServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExecuteOutStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExecuteOutStoreServlet</servlet-name>
  	<url-pattern>/kc/execchuku</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExecPageServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExecPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExecPageServlet</servlet-name>
  	<url-pattern>/kc/execpage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExecuteInStoreServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExecuteInStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExecuteInStoreServlet</servlet-name>
  	<url-pattern>/kc/execruku</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BackGoodServlet</servlet-name>
  	<servlet-class>wuliu.servlet.BackGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BackGoodServlet</servlet-name>
  	<url-pattern>/kc/backgoods</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckGoodsExistsServlet</servlet-name>
  	<servlet-class>wuliu.servlet.CheckGoodsExistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckGoodsExistsServlet</servlet-name>
  	<url-pattern>/kc/existsgoods</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryYlServlet2</servlet-name>
  	<servlet-class>wuliu.servlet.QueryYlServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryYlServlet2</servlet-name>
  	<url-pattern>/tra/queryyl2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QueryTransferTaskServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QueryTransferTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryTransferTaskServlet</servlet-name>
  	<url-pattern>/tra/querytratask</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExamineTransferTask</servlet-name>
  	<servlet-class>wuliu.servlet.ExamineTransferTask</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamineTransferTask</servlet-name>
  	<url-pattern>/tra/examinetft</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TraZPServlet</servlet-name>
  	<servlet-class>wuliu.servlet.TraZPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TraZPServlet</servlet-name>
  	<url-pattern>/tra/trapz</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetTraServlet</servlet-name>
  	<servlet-class>wuliu.servlet.GetTraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetTraServlet</servlet-name>
  	<url-pattern>/tra/gettra</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TraJJServlet</servlet-name>
  	<servlet-class>wuliu.servlet.TraJJServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TraJJServlet</servlet-name>
  	<url-pattern>/tra/trajj</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QuerySendTraTaskServlet</servlet-name>
  	<servlet-class>wuliu.servlet.QuerySendTraTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuerySendTraTaskServlet</servlet-name>
  	<url-pattern>/tra/querysendtratask</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExamineSendTraTaskServlet</servlet-name>
  	<servlet-class>wuliu.servlet.ExamineSendTraTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExamineSendTraTaskServlet</servlet-name>
  	<url-pattern>/tra/estts</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SendZPServlet</servlet-name>
  	<servlet-class>wuliu.servlet.SendZPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SendZPServlet</servlet-name>
  	<url-pattern>/tra/sendzp</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SendTraTaskJJServlet</servlet-name>
  	<servlet-class>wuliu.servlet.SendTraTaskJJServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SendTraTaskJJServlet</servlet-name>
  	<url-pattern>/tra/sendjj</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetDispatchDetailServlet</servlet-name>
  	<servlet-class>wuliu.servlet.GetDispatchDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetDispatchDetailServlet</servlet-name>
  	<url-pattern>/jd/getdispatchdetail</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getServerDateServlet</servlet-name>
  	<servlet-class>wuliu.servlet.getServerDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getServerDateServlet</servlet-name>
  	<url-pattern>/jd/getServerDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getServerDateServlet</servlet-name>
  	<url-pattern>/dd/getServerDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getServerDateServlet</servlet-name>
  	<url-pattern>/kc/getServerDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getServerDateServlet</servlet-name>
  	<url-pattern>/tra/getServerDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryCustomerOrderServlet</servlet-name>
    <servlet-class>wuliu.servlet.queryCustomerOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryCustomerOrderServlet</servlet-name>
    <url-pattern>/kh/queryCustomerOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryCustomerInfoServlet</servlet-name>
    <servlet-class>wuliu.servlet.QueryCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCustomerInfoServlet</servlet-name>
    <url-pattern>/gh/QueryCustomerInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>wuliu.servlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStaffInfoServlet</servlet-name>
    <servlet-class>wuliu.servlet.QueryStaffInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStaffInfoServlet</servlet-name>
    <url-pattern>/gh/QueryStaffInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMarketerServlet</servlet-name>
    <servlet-class>wuliu.servlet.AddMarketerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMarketerServlet</servlet-name>
    <url-pattern>/gh/addmarketer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddConsumerServlet</servlet-name>
    <servlet-class>wuliu.servlet.AddConsumerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConsumerServlet</servlet-name>
    <url-pattern>/AddConsumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStorerServlet</servlet-name>
    <servlet-class>wuliu.servlet.AddStorerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStorerServlet</servlet-name>
    <url-pattern>/gh/addstorer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTransporterServlet</servlet-name>
    <servlet-class>wuliu.servlet.AddTransporterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTransporterServlet</servlet-name>
    <url-pattern>/gh/addtransporter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryDispatchServlet1</servlet-name>
    <servlet-class>wuliu.servlet.QueryDispatchServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDispatchServlet1</servlet-name>
    <url-pattern>/kh/QueryDispatch1</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ConfirmDispatchServlet</servlet-name>
    <servlet-class>wuliu.servlet.ConfirmDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmDispatchServlet</servlet-name>
    <url-pattern>/kh/ConfirmDispatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryCustomerProfileServlet</servlet-name>
    <servlet-class>wuliu.servlet.QueryCustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCustomerProfileServlet</servlet-name>
    <url-pattern>/kh/QueryCustomerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryFinConfirm</servlet-name>
    <servlet-class>wuliu.servlet.QueryFinConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFinConfirm</servlet-name>
    <url-pattern>/kh/QueryFinConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>wuliu.servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/gh/DelUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddInStoreServlet</servlet-name>
    <servlet-class>wuliu.servlet.AddInStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInStoreServlet</servlet-name>
    <url-pattern>/jd/AddInStore</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddSubTransportServlet</servlet-name>
    <servlet-class>wuliu.servlet.AddSubTransportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubTransportServlet</servlet-name>
    <url-pattern>/jd/AddSubTransport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ExamineSaveDivStoreServlet</servlet-name>
    <servlet-class>wuliu.servlet.ExamineSaveDivStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamineSaveDivStoreServlet</servlet-name>
    <url-pattern>/kc/ExamineSaveDivStore</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CarManagerServlet</servlet-name>
    <servlet-class>wuliu.servlet.CarManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarManagerServlet</servlet-name>
    <url-pattern>/tra/CarManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarStateChangeServlet</servlet-name>
    <servlet-class>wuliu.servlet.CarStateChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarStateChangeServlet</servlet-name>
    <url-pattern>/tra/CarStateChange</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <resource-ref>
  	<res-ref-name>jdbc/wl</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <filter>
  	<filter-name>AuthorityFilter</filter-name>
  	<filter-class>wuliu.filter.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
